/*li:hover{
    background-color: yellow;
}
li:not(:hover){
    background-color: lightblue;
}


li:nth-child(even){
    background-color: yellow;
}
    */

#greeting p{
    background-color: lightblue;
    padding: 10px;
    display: none;

}
#greeting:hover p{
    display: block;
}
